- content_for :title, "Favorites"
.container
  .row
    .col-lg-8
      %h1
        Your Favorites
      - if @favorites.empty?
        Oh no! You don't have any favorites. 
      - else
        - @favorites.each do |item|
          = partial "common/favorite", locals: { item: item }
